body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav,
footer {
  background-color: #d4f2f4;
  color: #0b0848;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #0b0848;
  margin: 0 15px;
}

.intro-section {
  background-color: #f3fde8;
  padding: 20px;
}

.contact-section {
  background-repeat: repeat;
  padding: 20px;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-size: 24px;
  -webkit-text-stroke: 0.5px black;
}

h1 {
  color: #caedff;
}

h2 {
  color: #d8b4f8;
}

h3 {
  color: #ffc7ea;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.contact-section form {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

.contact-section a {
  color: #1877f2;
}

footer p {
  margin: 0;
}
